.league_container {
	height: 100%;
	width: 100%;
}
.game_container {
	padding: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.game_container .game_fix {
	padding: 10px;
	outline: none;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
	border: 1px solid #cccccc;

	background-color: #fff;
}
.game_container .game_name {
	width: 100%;
	height: 50px;
	padding: 10px;
	font-size: 1.4rem;
}
.game_container .game_prize {
	width: 100%;

	height: 50px;
	padding: 10px;
	font-size: 1.4rem;
}
.game_container .game_time {
	width: 165px;
	margin: 10px 0px;
}
.game_container .game_image {
	width: 100%;

	margin: 10px 0px;
	font-size: 1rem;
}
.league_header {
	height: 70px;
	width: 100%;
	background: #ffffff;
	display: flex;
	cursor: pointer;
	flex-direction: row-reverse;
}
.league_save_progress {
	cursor: pointer;
	width: 140px;
	background: #4a58a3;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	line-height: 70px;
	color: #fff;
	justify-content: center;
}
.league_save_progress p {
	font-weight: 800;
	font-size: 1rem;
	margin-right: 2px;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.league_save_float {
	width: 100%;
	background: #4a58a3;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	line-height: 70px;
	color: #fff;
}
.league_save_float p {
	font-size: 1rem;
	margin-right: 2px;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.league_save_success {
	animation: bounce-s 1s cubic-bezier(0.82, 0.07, 0.18, 1.43) forwards;
}
.league_save_failed {
	animation: bounce-f 1s cubic-bezier(0.82, 0.07, 0.18, 1.43) forwards;
}

@keyframes bounce-s {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
		background: #4a58a3;
		width: 140px;
	}

	100% {
		width: 100%;
		background: #00da89;
	}
}
@keyframes bounce-f {
	0% {
		background: #4a58a3;
		width: 140px;
	}
	100% {
		width: 100%;
		background: #ff0019;
	}
}
.league_header_text {
	color: #3f6bfe;
}
.league_content {
	height: 90%;
}
label {
	font-weight: 800;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.league_foooter {
	width: 84%;
	margin-left: 6%;
	padding: 14px;
	margin-bottom: 10px;
	height: 70px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	flex-direction: row;
}
.league_progress {
	padding: 6px;
	margin-left: 20px;
	margin-right: 20px;
	color: transparent;
	font-size: 1.1rem;
	width: 70%;
	height: 40px;
	background: transparent;
	font-weight: 800;
	text-align: center;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
	border-radius: 10px;
}
.league_next_button {
	padding: 12px;
	border-radius: 10px;
	margin-left: 10px;
	color: #fff;
	font-size: 1.1rem;
	width: 20%;
	height: 45px;
	background: #3d6dfe;
	font-weight: 800;
	text-align: center;
	cursor: pointer;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.league_back_button {
	padding: 12px;
	border-radius: 10px;
	margin-left: 10px;
	color: #3d6dfe;
	font-size: 1.1rem;
	width: 6%;
	height: 45px;
	background: #e4e9f1;
	font-weight: 800;
	text-align: center;
	cursor: pointer;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.league_progess_bar {
	background: #e4e9f1;
	margin-top: 10px;
	height: 10px;
	border-radius: 10px;
}
.extra_space {
	height: 10px;
}
/* upload */
.ant-upload-select-picture-card i {
	font-size: 32px;
	color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
	margin-top: 8px;
	color: #666;
}
.avatar-uploader > .ant-upload {
	width: 128px;
	height: 128px;
}
.upload_border {
	display: flex;
	padding: 20px 0px;
	width: 400px;
	border: 5px dashed #dce0e2;
	flex-direction: row;
	justify-content: center;
}
