.ant-carousel .slick-slide {
	text-align: center;
	height: 480px;
	line-height: 60px;
	background: #fff;
	overflow: hidden;
}

.ant-carousel .slick-slide h3 {
	color: #fff;
}
.game_question_container {
	width: 100%;
	height: 65%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.game_question_text {
	margin: 0% 0%;
	text-align: center;

	color: black;
	font-size: 2rem;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
@media screen and (min-width: 1750px) {
	.game_question_text {
		font-size: 5rem;
		padding: 6% 2%;
	}
	.game_question_option {
		margin: 1.7% 6%;
	}
	.game_question_option_text {
		font-size: 4rem;
	}
	.game_question_count_text {
		font-size: 3.7rem;
	}
	.jackpot-question {
		font-size: 3rem;
	}
	.game_verifying_text {
		font-size: 2rem;
	}
	.game_verifying {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 1300px) and (min-height: 1000px) {
	.game_question_text {
		font-size: 5rem;
		padding: 6% 2%;
	}
	.game_question_option {
		margin: 1% 3%;
	}
	.game_question_option_text {
		font-size: 4rem;
	}
	.game_question_count_text {
		font-size: 3.7rem;
	}
	.jackpot-question {
		font-size: 3rem;
	}
	.game_verifying_text {
		font-size: 2rem;
	}
	.game_verifying {
		margin-top: 30px;
	}
}
@media screen and (max-width: 1700px) and (min-width: 800px) {
	.game_question_text {
		font-size: 2.7rem;
		padding: 2.5% 2%;
	}
	.game_question_option {
		margin: 1% 3%;
	}
	.game_question_option_text {
		font-size: 2rem;
	}
	.game_question_count_text {
		font-size: 2rem;
	}
	.jackpot-question {
		font-size: 1.7rem;
	}
	.game_verifying_text {
		font-size: 1.2rem;
	}
	.game_verifying {
		margin-top: 10px;
	}
}
/* @media screen and (max-width: 850px) and (max-height: 980px) {
	.game_question_text {
		font-size: 2.7rem;
		padding: 3% 2%;
	}
	.game_question_option {
		margin: 1% 3%;
	}
	.game_question_option_text {
		font-size: 2rem;
	}
	.game_question_count_text {
		font-size: 2rem;
	}

	.game_verifying {
		margin-top: 10px;
	}
} */
.game_question_option {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-radius: 10px;
	height: 8%;
	width: 80%;
	padding: 4px 50px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.game_question_input {
	display: inline-table;
	font-size: 2rem;
	height: 8%;
	width: 20%;
	margin: 2%;
	padding: 6px 50px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	background: #00bc5f;
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.game_question_option_text {
	letter-spacing: 2px;
	font-weight: 400;
	color: black;
}

/* success modal */

.success_league_content {
	background: #fff;
}
/* //answers */
.answer_input {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	justify-content: center;
}
.game_fix .ant-select-selection--single {
	width: 400px;
}
.answer_fix {
	font-family: medium-content-sans-serif-font, "Lucida Grande",
		"Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

	background-color: #fff;
	width: 400px;

	height: 70px;
	font-size: 1.4rem;
}
