.header_container{
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    left: 0;
    z-index: 99;
}
.header_logo{
    flex: 12 auto;
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 1800px){
    .header_logo h4{
        font-size: 20px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 912px){
    
    .header_logo h4{
        font-size: 22px;
    }
    .header_logo p{
        display: none;
    }
}




.header_logo h4{
    font-size: 20px;
    margin-bottom: 0;
}
.create_campaign_button{
    flex: 4 auto;
    padding: 30px;
}
