.ant-modal-content{
    border-radius: 0px;
}
.ant-modal{
    font-family: "Nunito", sans-serif;
}
.ant-modal-header{
    border-bottom: 1px solid rgba(228, 229, 231, 0.5);
}

.ant-table-thead > tr > th,td{
    text-align: center;
}