@import "antd.css";

*,
:after,
:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div {
	display: block;
	font-family: Rubik, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}
.App_container {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: scroll;
}
.App {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
