body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f6fa;
}
body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #444;
  font-weight: 400;
  background: #f5f6fa;
}
.ant-modal-footer{
  border-top: none;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  line-height: 100%;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

pre[class*=language-] {
  color: #f8f8f2;
  background: #272822;
  text-shadow: 0 1px rgba(0,0,0,.3);
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.language-bash{
  max-width: 100%;
    border-radius: 6px;
    margin-top: 24px;
}

.editable-cell {
  position: relative;
}


.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid rgb(250, 250, 250);
  background: rgb(250, 250, 250);
  border-radius: 4px;
  padding: 4px 11px;
}